# Ignore specific file formats globally
**.log*
*.npy
*.log
*.nbi
*.zst
*.csv
*.gml
*.pkl
*.pkl.zst
*.gz*
*.html
*.xlsx
*.tsv
*.err
*.out
# Ignore all directories that are git repositories
**/.git/

# Ignore directories and their contents
**/__pycache__/
**/simulation**/
highThroughputData/**
.conda/*
# Ignore specific file patterns
.log*
.nbc
highThroughputData
.DS_Store
Thumbs.db
*.js
*.png
*.rds
*.npy
/__pycache__/
*.log
*.nbi
*.zst
*.csv
*.gml
*.pkl
*.pkl.zst
*/simulation*/
*.html
.log*
*/highThroughputData/*
*.xlsx
.nbc
**core.**
src/highThroughputSimulationCode/asymmetricDivision/RACIPE/renv/*
src/highThroughputSimulationCode/asymmetricDivision/RACIPE/network_circuit_files/*
.Rprofile
.Rhistory
grnInference/IDTxl/*
grnInference/scRNAseq_NetInference_repo/*
grnInference/IDTxl/
grnInference/scRNAseq_NetInference_repo/
.Rproj.user
